* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #e0e0e0;
}

/* navigation */
label .menu {
    --length: 200px;
    position: fixed; 
    right: calc(var(--length)/-2);
    top: calc(var(--length)/-2);
    z-index: 100;
    width: var(--length);
    height: var(--length);
    background: #FFF;
    border-radius: 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer; 
}
  
label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    z-index: 100;
    background: #69D2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
  
label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
}
  
label .hamburger:before { 
    top: -10px; 
}
  
label .hamburger:after { 
    bottom: -10px; 
}
  
label input { 
    display: none; 
}
  
label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
}
  
label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
}
  
label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}
  
label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked + .menu + ul {
    opacity: 1; 
}
  
label ul {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
}
  
label a {
    font-size: 2em;
    margin-bottom: 1em;
    display: block;
    color: #000;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(0, 68, 255) !important;
    text-decoration: underline;
}


.nav-link:active {
    color: greenyellow !important;
    text-decoration: underline;
}

.nav-link:visited {
    color: purple;
}

/* fancy button */
.switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4296f4;
}
   
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
   
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}
   
.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}
   
.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
   
.switch input[type="checkbox"] {
    display: none;
}
   
.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}
   
.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
   


/* section */
section {
    min-height: 70vh;
    margin-bottom: 20vh;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
  
.neu-container {
    background-color: #e0e0e0;
    border-radius: 30px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 50px;
    width: 65%;
}
  
.neu-title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}
  
.neu-desc {
    color: #555;
    font-size: 2em;
    line-height: 1.75;
    text-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
    margin-bottom: .5rem;
}

.img-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two-neu-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    line-height: 1.5;
}

.size {
    width: 65%;
    height: auto;
}

.neu-desc-left,
.neu-desc-right {
    display: block;
    width: 40%;
}

@media (max-width: 768px) {
    .neum-desc-left,
    .neum-desc-right {
      width: 100%;
    }
}

/* Footer */

footer {
    background-color: #e5e5e5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
footer .footer-left {
    display: flex;
    align-items: center;
}
  
footer .footer-left h3 {
    margin: 0;
    font-size: 18px;
}

footer .footer-right hr {
    height: 2px;
    border: none;
    background-color: black;
}
  
footer .footer-right ul {
    list-style-type: none;
    margin: 0 3px;
    padding: 0;
    display: flex;
}
  
footer .footer-right ul li {
    margin: 3px 10px;
}
  
footer .footer-right ul li a {
    color: #333;
    text-decoration: none;
}
  
footer .footer-right hr {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    width: 100%;
}

@media only screen and (max-device-width: 1024px) {
    .bg {
        background-attachment: scroll;
    }
}

/* scroll bar */
* {
    scrollbar-width: auto;
    scrollbar-color: #808080 #e0e0e0;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}