* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */
footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bar {
    height: 2px;
    width: 80%; 
    background-color: black;
    margin: 15px;
 }
