* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    height: 0;
}

header .navbar {
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: red;
}

/* section */
section.main {
    height: 100vh;
    width: 100vw;
}

section.main:nth-child(1) {
    background-color: #e0e0e0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
footer {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bar {
    height: 2px;
    width: 80%; 
    background-color: black;
    margin: 15px;
 }

 @media only screen and (max-device-width: 1024px) {
    .bg {
        background-attachment: scroll;
    }
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0;
}